<!DOCTYPE html>
<html dir="ltr" lang="en-GB"><head prefix="og: http://ogp.me/ns#">
  <head>
      <meta charset="utf-8">
      <!--

                                                .&&&&&       &&
                                              &&&            &&/
      *&&&&%       &&&&( &&      &&&&&*        &&.        &&&&&&#     %&&.    &&&
    %&&    &&&   &&&    &&&    &&&   %&&*   &&&&&&&&&         &&#       &&& ,&&.
    &&&&&&&&&&   &&      &&   &&&     &&&      &&.            &&#         &&&*
    &&%          &&(     &&    &&     &&&      &&.            &&#        &&&&&&
    &&&&&&&&&    &&&&&&&&&     &&&&&&&#       &&.       #&&&&&&&&&&   &&&   .&&%
                        &&&
                *&&&&&&&/

    This website is powered by egofix media - changing the world one website at a time!
      -->
      {% set cms = '/strapi/public' %}
      {% if intro %}
        {% set descr = intro %}
      {% else %}
        {% if description %}
            {% set descr = description %}
        {% else %}
            {% set descr = 'Egofix Media is a multimedia company that offers consultancy and service provision in the world of branding and event' %}
        {% endif %}
      {% endif %}
      <title>{{ title }} | Egofix Media</title>
      <meta name="robots" content="noindex, nofollow">

      <link rel="apple-touch-icon" sizes="180x180" href="/assets/app/favicons/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/assets/app/favicons/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/assets/app/favicons/favicon-16x16.png">
      <link rel="manifest" href="/assets/app/favicons/site.webmanifest">
      <link rel="mask-icon" href="/assets/app/favicons/safari-pinned-tab.svg" color="#575757">
      <link rel="shortcut icon" href="/assets/app/favicons/favicon.ico">
      <meta name="msapplication-TileColor" content="#000000">
      <meta name="msapplication-config" content="/assets/app/favicons/browserconfig.xml">
      <meta name="theme-color" content="#ffffff">

      <meta name="keywords" content="Egofix Media">
      <meta name="description" content="{{descr}}">
      <meta name="author" content="Egofix Media">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta property="og:site_name" content="Egofix Media">
      <meta property="og:url" content="{{ permalink }}">
      <meta property="og:description" content="{{descr}}">
      <meta property="og:type" content="website">
      <meta property="og:locale" content="KE">
      <meta property="og:title" content="{{ title }} | Egofix Media">
      {% if socialMediaPhoto %}
        <meta property="og:image" content="{{cms}}{{ socialMediaPhoto }}">
        <meta name="twitter:image" content="{{cms}}{{ socialMediaPhoto }}" />
      {% else %}
        <meta property="og:image" content="{{cms}}/uploads/small_egofix_passion_786aff49e3.jpg">
        <meta name="twitter:image" content="{{cms}}/uploads/small_egofix_passion_786aff49e3.jpg" />
      {% endif %}
      <meta name="twitter:card" content="summary" />
      <meta name="contact" content="info@egofixmedia.com.com">
      <meta name="og:email" content="info@egofixmedia.com.com">
      <meta name="og:phone_number" content="+254 (0) 724 817 43">
      <meta name="og:fax_number" content="">
      <meta name="og:latitude" content="0.2669421">
      <meta name="og:longitude" content="34.7581102">
      <meta name="og:street-address" content="Amalemba Road">
      <meta name="og:locality" content="Kenya">
      <meta name="og:region" content="Western Province">
      <meta name="og:postal-code" content="50100">
      <meta name="og:country-name" content="Kenya">
      <meta name="geo.region" content="Western Province">
      <meta name="geo.placename" content="Kakamega">
      <meta name="geo.position" content="0.2669421;34.7581102">

      <link rel="canonical" href="{{ permalink }}">
      <link rel="stylesheet" type="text/css" href="/assets/lib/egofixicons-v1.0/style.css" media="all">
      <link rel="stylesheet" type="text/css" href="/assets/lib/photoswipe-4.1.3/photoswipe.css" media="all">
      <link rel="stylesheet" type="text/css" href="/assets/lib/photoswipe-4.1.3/default-skin/default-skin.css" media="all">
      <link rel="stylesheet" type="text/css" href="/assets/lib/tailwind.min.css" media="all">
      <link rel="stylesheet" type="text/css" href="/assets/lib/jquery.modal.min.css" />
      <link rel="stylesheet" type="text/css" href="/assets/css/custom.css" media="all">

  </head>

  <body class="bg-white">
      <header class="header mt-6">
          <div class="container lg mx-auto px-6 py-2 lg:px-c-0">
              <div class="flex justify-between items-center">
                  <div class="h-auto w-12 w-52">
                      <div class="flex flex-row items-center">
                          <a href="/">
                              <img src="/assets/img/logo_egofix.svg" alt="logo | egofix media" width="65" height="40" class="logo block">
                          </a>
                          <div class="logo-text ml-2 text-md md:text-xl">
                              <span class="mono">egofix</span><br><span>Media</span>
                          </div>
                      </div>
                  </div>
                  <div class="navigation">
                      <div class="nav-toggle md:hidden">
                          <span>
                              <i class="la la-bars text-4xl"></i>
                              <i class="la la-times text-4xl hidden"></i>
                          </span>
                      </div>

                      <nav class="nav hidden md:block">
                          <ul class="nav-list rounded-b-2xl md:rounded-none shadow-lg md:shadow-none m-0 mt-4 md:mt-0 p-0 pr-2 md:p-0 -mr-2 md:mr-0 -ml-2 md:-ml-6 absolute md:relative bg-white md:bg-transparent md:right-auto">
                              <li class="nav-list__item text-right md:inline-block pl-2 md:pl-6 pr-2 md:pr-0 -mr-2 md:mr-0 mb-2 md:mb-0 ">
                                  <a class="nav-list__link p-1 md:rounded-lg hover:bg-design hover:text-white" href="/design" target="" title="Design">
                                      <i class="la la-photo-video"></i> Design
                                  </a>
                              </li>
                              <li class="nav-list__item text-right md:inline-block pl-2 md:pl-6 pr-2 md:pr-0 -mr-2 md:mr-0 mb-2 md:mb-0 ">
                                  <a class="nav-list__link p-1 md:rounded-lg hover:bg-sound hover:text-white" href="/sound" title="Sound">
                                      <i class="la la-music"></i> Sound
                                  </a>
                              </li>
                              <li class="nav-list__item text-right md:inline-block pl-2 md:pl-6 pr-2 md:pr-0 -mr-2 md:mr-0 mb-2 md:mb-0 ">
                                  <a class="nav-list__link p-1 md:rounded-lg hover:bg-programming hover:text-white" href="/programming" target="" title="Programming">
                                      <i class="la la-terminal"></i> Programming
                                  </a>
                              </li>
                              <li class="nav-list__item text-right md:inline-block pl-2 md:pl-6 pr-2 md:pr-0 -mr-2 md:mr-0 mb-2 md:mb-0 ">
                                  <a class="nav-list__link p-1 md:shadow-2xl md:bg-black md:text-white md:hover:text-black md:hover:bg-gray-300 md:rounded-xl md:py-2 md:px-6" href="/contact" target="" title="Get in touch">
                                      <i class="la la-envelope"></i> Contact
                                  </a>
                              </li>
                          </ul>
                      </nav>
                  </div>
              </div>
          </div>
      </header>

      <main class="py-6 md:pt-[5vw] md:pb-[7vw]">
          <div class="container mx-auto px-6 lg:px-c-0">
            {{ content | safe }}
          </div>
      </main>

      <footer class="footer py-8 mx-auto md:py-16">
          <div class="container mx-auto px-6 lg:px-c-0">
              <div class="contact-info text-center text-xl pb-8" id="contact">
                  <span class="block"><a class="inline-block" href="mailto:info@egofixmedia.xyz">info@egofixmedia.xyz</a></span>
                  <span class="block"><a class="inline-block" href="tel:+254722000000">0722000000</a></span>
              </div>

              <div class="social text-center text-2xl pb-8">
                  <a href="" target="_blank" class="social__item" title="find on Facebook"><i class="la la-facebook-f"></i></a>
                  <a href="" target="_blank" class="social__item" title="follows us on Instagram"><i class="la la-instagram"></i></a>
                  <a href="" target="_blank" class="social__item" title="follows us a Twitter"><i class="la la-twitter"></i></a>
              </div>
              <div class="text-center">© <span class="mono">egofix</span>&nbsp;Media</div>
          </div>

          <div class="back-top">
              <div class="container back-top__container">
                <div class="text-right">
                  <a class="shadow-2xl bg-black text-white inline-block hover:text-black hover:bg-gray-500 rounded-full py-2 px-6 button back-top__icon" href="#top" title="nach oben">
                      <i class="la la-long-arrow-alt-up text-2xl"></i>
                  </a>
                </div>
              </div>
            </div>
      </footer>
      <script src="/assets/lib/jquery-3.4.1.min.js"></script>
      <script src="/assets/lib/jquery.modal.min.js"></script>
      <script src="/assets/js/globals.js"></script>
        <script>
      console.log('Hallo');
      </script>



  </body>
</html>