{% if ce %}
  {% if ce.Title or ce.Text or ce.link or ce.Image %}
  <section class="pb-8 md:pb-16">
      <div class="flex">
          <div class="w-full">
            {% if ce.Title %}
              <span class="text-5xl font-bold mb-4">{{ ce.Title | safe }}</span>
            {% endif %}
            {% if ce.Text %}
              {{ ce.Text | safe }}
            {% endif %}
            {% if ce.link %}
              <a href="{{ ce.link }}" class="shadow-2xl bg-black text-white hover:text-black hover:bg-gray-300 rounded-full py-2 px-6">Learn More</a>
            {% endif %}
          </div>
          {% if ce.Image %}
          {% set ceImageAlt = ce.Image.data.attributes.alternativeText %}
          {% set ceImageCap = ce.Image.data.attributes.caption %}
          {% set ceImage = ce.Image.data.attributes.formats %}
          <div class="w-full">
            <picture>
              <source media="(min-width:1024px)" srcset="{{ cms }}{{ ceImage.large.url }}">
              <source media="(min-width:768px)" srcset="{{ cms }}{{ ceImage.medium.url }}">
              <img src="{{ cms }}{{ ceImage.small.url }}" class="shadow-lg lg:shadow-2xl border-radius border-radius--sec w-full" width="{{ceImage.small.width}}" height="{{ceImage.small.height}}" alt="{{ ceImageAlt }}" title="{{ceImageCap}}">
            </picture>
          </div>
          {% endif %}
      </div>
  </section>
  {% endif %}
{% endif %}
