<div id="form" class="modal rounded-none bg-white text-black max-w-md w-full p-6">
    <h2 class="text-2xl md:text-3xl font-bold mt-2">Talk to us</h2>
    <div class="mt-6">
        <div class="grid grid-cols-1 gap-6">
            <label class="block">
                <span class="text-gray-700">Full name</span>
                <input type="text" class="mt-1 px-2 py-1 block w-full border border-black focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" placeholder="" />
            </label>
            <label class="block">
                <span class="text-gray-700">Email address</span>
                <input type="email" class="mt-1 px-2 py-1 block w-full border border-black focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" placeholder="john@example.com" />
            </label>
            <label class="block">
                <span class="text-gray-700">When is your event?</span>
                <input type="date" class="mt-1 px-2 py-1 block w-full border border-black focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" />
            </label>
            <label class="block">
                <span class="text-gray-700">What type of event is it?</span>
                <select class="block w-full mt-1 px-2 py-1 border border-black accent-black focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                    <option>Corporate event</option>
                    <option>Wedding</option>
                    <option>Birthday</option>
                    <option>Other</option>
                </select>
            </label>
            <label class="block">
                <span class="text-gray-700">Additional details</span>
                <textarea class="mt-1 px-2 p-1 block w-full border border-black focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" rows="3"></textarea>
            </label>
            <div class="block">
                <div class="mt-2">
                    <div>
                        <label class="inline-flex items-center">
                            <input type="checkbox" class="border border-black accent-black focus:border-indigo-300 focus:ring focus:ring-offset-0 focus:ring-indigo-200 focus:ring-opacity-50" checked="" />
                            <span class="ml-2">Email me news and special offers</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="block mb-6">
                <a href="#form" rel="modal:close" class="inline-block bg-black border border-black text-white hover:bg-white text-white hover:text-black py-2 px-4" title="Get in touch"><i class="bi bi-send pr-2"></i>Send</a>
            </div>
        </div>
    </div>
</div>