{% if headerImage %}
    {% set HeaderImageAlt = headerImage.data.attributes.alternativeText %}
    {% set HeaderImageCap = headerImage.data.attributes.caption %}
    {% set HeaderImage = headerImage.data.attributes.formats %}
    <div class="mb-10 md:mb-20 lg:mb-36">
        <picture>
            <source media="(min-width:1024px)" srcset="{{ cms }}{{ HeaderImage.large.url }}">
            <source media="(min-width:768px)" srcset="{{ cms }}{{ HeaderImage.medium.url }}">
            <img src="{{ cms }}{{ HeaderImage.small.url }}" class="shadow-2xl border-radius border-radius--sec w-full aspect-2/1 object-cover bg-gray-300" width="{{HeaderImage.small.width}}" height="{{HeaderImage.small.height}}" alt="{{ HeaderImageAlt }}" title="{{HeaderImageCap}}" loading="lazy">
        </picture>
    </div>
{% endif %}