{% set clsMd = cycler("odd", "even") %}
{% if Mediaboxes %}
    {%- for Mediabox in Mediaboxes -%}
      {% if Mediabox.Title or Mediabox.Text or Mediabox.link or Mediabox.Image %}
        <section class="py-8 md:py-16  {{clsMd.next()}}">
          <div class="flex flex-row flex-wrap -ml-12 justify-between items-center">
             {% if Mediabox.Image %}
                {% set MediaboxImage = Mediabox.Image.data.attributes.formats %}
                <div class="w-full md:w-1/2 pl-12 mb-6">
                  <div class="bg-cover bg-no-repeat bg-center shadow-2xl border-radius {% if clsMd.next() == 'even' %}md:border-radius--left{% else %}md:border-radius--right{% endif %}" style="background-image:url({{ cms }}{{ MediaboxImage.small.url }}),url({{ cms }}{{ MediaboxImage.thumbnail.url }});"></div>
                </div>
              {% endif %}
        
              <div class="w-full md:w-1/2 pl-12 mb-16 md:mb-0 {% if clsMd.next() == 'even' %}order-first{% else %}order-first md:order-last{% endif %}">
                  {% if Mediabox.Title %}
                      <h3 class="{% if Mediabox.Color %}text-{{ Mediabox.Color }}{% endif %}">{{ Mediabox.Title | safe }}</h3>
                    {% endif %}
                    {% if Mediabox.Text %}
                      <p>{{ Mediabox.Text }}</p>
                    {% endif %}
                    {% if Mediabox.Link %}
                      <a href="{{ Mediabox.Link }}" class="shadow-2xl text-white hover:text-black {% if Mediabox.Color %}bg-{{ Mediabox.Color }} hover:bg-{{ Mediabox.Color }}-300{% endif %} rounded-full py-2 px-6">
                        <i class="la la-long-arrow-alt-right"></i> Learn More
                      </a>
                    {% endif %}
              </div>
          </div>
        </section>
      {% endif %}
    {%- endfor -%}
{% endif %}