{% if Mediaboxes %}
  <div class="flex flex-row flex-wrap -ml-12 justify-between">
    {%- for Mediabox in Mediaboxes -%}
      {% if Mediabox.Title or Mediabox.Text or Mediabox.link or Mediabox.Image %}
        <div class="w-full sm:w-1/2 md:w-1/3 pl-12 mb-16 md:mb-0">
            <div class="card {% if Mediabox.Icon %}card--bg-icon card--bg-icon-{{ Mediabox.Icon }}{% endif %} {% if Mediabox.Color %}bg-{{ Mediabox.Color }}-300{% endif %} border-radius shadow-xl sm:h-full">
              {% if Mediabox.Image %}
                {% set MediaboxImage = Mediabox.Image.data.attributes.formats %}
                <div class="bg-cover bg-no-repeat bg-center border-radius border-radius--top" style="background-image:url({{ cms }}{{ MediaboxImage.small.url }}),url({{ cms }}{{ MediaboxImage.thumbnail.url }});"></div>
              {% endif %}
              <div class="p-8">
                {% if Mediabox.Title %}
                  <h4 class="pb-2">{{ Mediabox.Title | safe }}</h4>
                {% endif %}
                {% if Mediabox.Text %}
                  <p>{{ Mediabox.Text }}</p>
                {% endif %}
                {% if Mediabox.Link %}
                  <a href="{{ Mediabox.Link }}" class="shadow-2xl {% if Mediabox.Color %}bg-{{ Mediabox.Color }} hover:text-{{ Mediabox.Color }}{% endif %} text-white  hover:bg-white rounded-full py-2 px-6">
                    <i class="la la-long-arrow-alt-right"></i> Learn More
                  </a>
                {% endif %}
              </div>    
            </div>
        </div>
      {% endif %}
    {%- endfor -%}
  </div>
{% endif %}