 <a href="/works/{{ project.url }}" title="{{ project.title }}" class="relative block ease-in duration-300 rounded-md ">
        {% if project.listImage %}
          {% set projectImageAlt = project.listImage.data.attributes.alternativeText %}
          {% set projectImageCap = project.listImage.data.attributes.caption %}
          {% set projectImage = project.listImage.data.attributes.formats %}
            <picture>
                <source media="(min-width:1024px)" srcset="{{ cms }}{{ projectImage.large.url }}">
                <source media="(min-width:768px)" srcset="{{ cms }}{{ projectImage.medium.url }}">
                <img src="{{ cms }}{{ projectImage.small.url }}" class="w-full aspect-[3/2] object-cover bg-gray-300 rounded-md" width="{{projectImage.small.width}}" height="{{projectImage.small.height}}" alt="{{ projectImageAlt }}" title="{{projectImageCap}}" loading="lazy">
            </picture>
        {% endif %}
    <div class="absolute inset-0 opacity-0 hover:bg-white/60 hover:opacity-100 hover:backdrop-blur-sm hover:text-black ease-in duration-200 flex justify-center items-center font-bold text-xl lg:text-2xl rounded-md">
        {{ project.title }}
    </div>
</a>