{% if Teaser %}
  {% if Teaser.Title or Teaser.Text or Teaser.link or Teaser.Image %}
  <section id="intro-teaser" class="pb-8 md:pb-16">
      <div class="flex flex-row flex-wrap -ml-12 justify-between items-center">
          <div class="w-full md:w-1/2 pl-12 mb-16 md:mb-0">
            {% if Teaser.Title %}
              <h1 class="mb-4">{{ Teaser.Title | safe }}</h1>
            {% endif %}
            {% if Teaser.Text %}
              <p class="text-lg">{{ Teaser.Text }}</p>
            {% endif %}
            {% if Teaser.link %}
              <a href="{{ Teaser.link }}" class="shadow-2xl bg-black text-white hover:text-black hover:bg-gray-300 rounded-full py-2 px-6">Learn More</a>
            {% endif %}
          </div>
          {% if Teaser.Image %}
          {% set TeaserImageAlt = Teaser.Image.data.attributes.alternativeText %}
          {% set TeaserImageCap = Teaser.Image.data.attributes.caption %}
          {% set TeaserImage = Teaser.Image.data.attributes.formats %}
          <div class="w-full md:w-1/2 pl-12 mb-6 order-first md:order-last">
            <picture>
              <source media="(min-width:1024px)" srcset="{{ cms }}{{ TeaserImage.large.url }}">
              <source media="(min-width:768px)" srcset="{{ cms }}{{ TeaserImage.medium.url }}">
              <img src="{{ cms }}{{ TeaserImage.small.url }}" class="shadow-2xl border-radius border-radius--sec w-full" width="{{TeaserImage.small.width}}" height="{{TeaserImage.small.height}}" alt="{{ TeaserImageAlt }}" title="{{TeaserImageCap}}">
            </picture>
          </div>
          {% endif %}
      </div>
  </section>
  {% endif %}
{% endif %}
