{% if TextCentered %}
    <section class="py-8 md:py-16">
        <div class="mx-auto pb-8 text-center max-w-xl">
            {% if TextCentered.Title %}
                <h3 class="">{{ TextCentered.Title }}</h3>
            {% endif %}
            {% if TextCentered.Text %}
                {{ TextCentered.Text | safe }}
            {% endif %}
            {% if TextCentered.ButtonLink %}
                <a href="{{TextCentered.ButtonLink}}" class="shadow-2xl bg-black text-white hover:text-black hover:bg-gray-300 rounded-full py-2 px-6">Learn More</a>
            {% endif %}
        </div>
    </section>
{% endif %}