/* tajawal-200 - latin */
@font-face {
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 200;
    src: url('tajawal/tajawal-v3-latin-200.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('tajawal/tajawal-v3-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('tajawal/tajawal-v3-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('tajawal/tajawal-v3-latin-200.woff') format('woff'), /* Modern Browsers */
    url('tajawal/tajawal-v3-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
    url('tajawal/tajawal-v3-latin-200.svg#Tajawal') format('svg'); /* Legacy iOS */
}
/* tajawal-300 - latin */
@font-face {
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 300;
    src: url('tajawal/tajawal-v3-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('tajawal/tajawal-v3-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('tajawal/tajawal-v3-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('tajawal/tajawal-v3-latin-300.woff') format('woff'), /* Modern Browsers */
    url('tajawal/tajawal-v3-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('tajawal/tajawal-v3-latin-300.svg#Tajawal') format('svg'); /* Legacy iOS */
}
/* tajawal-regular - latin */
@font-face {
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 400;
    src: url('tajawal/tajawal-v3-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('tajawal/tajawal-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('tajawal/tajawal-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('tajawal/tajawal-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('tajawal/tajawal-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('tajawal/tajawal-v3-latin-regular.svg#Tajawal') format('svg'); /* Legacy iOS */
}
/* tajawal-700 - latin */
@font-face {
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 700;
    src: url('tajawal/tajawal-v3-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('tajawal/tajawal-v3-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('tajawal/tajawal-v3-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('tajawal/tajawal-v3-latin-700.woff') format('woff'), /* Modern Browsers */
    url('tajawal/tajawal-v3-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('tajawal/tajawal-v3-latin-700.svg#Tajawal') format('svg'); /* Legacy iOS */
}
/* tajawal-800 - latin */
@font-face {
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 800;
    src: url('tajawal/tajawal-v3-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('tajawal/tajawal-v3-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('tajawal/tajawal-v3-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('tajawal/tajawal-v3-latin-800.woff') format('woff'), /* Modern Browsers */
    url('tajawal/tajawal-v3-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('tajawal/tajawal-v3-latin-800.svg#Tajawal') format('svg'); /* Legacy iOS */
}
/* tajawal-500 - latin */
@font-face {
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 500;
    src: url('tajawal/tajawal-v3-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('tajawal/tajawal-v3-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('tajawal/tajawal-v3-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('tajawal/tajawal-v3-latin-500.woff') format('woff'), /* Modern Browsers */
    url('tajawal/tajawal-v3-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('tajawal/tajawal-v3-latin-500.svg#Tajawal') format('svg'); /* Legacy iOS */
}
/* tajawal-900 - latin */
@font-face {
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 900;
    src: url('tajawal/tajawal-v3-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('tajawal/tajawal-v3-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('tajawal/tajawal-v3-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('tajawal/tajawal-v3-latin-900.woff') format('woff'), /* Modern Browsers */
    url('tajawal/tajawal-v3-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
    url('tajawal/tajawal-v3-latin-900.svg#Tajawal') format('svg'); /* Legacy iOS */
}

/*******************/

/* roboto-mono-regular - latin-ext_latin */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url('roboto/mono/roboto-mono-v12-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('roboto/mono/roboto-mono-v12-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('roboto/mono/roboto-mono-v12-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('roboto/mono/roboto-mono-v12-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
    url('roboto/mono/roboto-mono-v12-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('roboto/mono/roboto-mono-v12-latin-ext_latin-regular.svg#RobotoMono') format('svg'); /* Legacy iOS */
}
/* roboto-mono-500 - latin-ext_latin */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    src: url('roboto/mono/roboto-mono-v12-latin-ext_latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('roboto/mono/roboto-mono-v12-latin-ext_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('roboto/mono/roboto-mono-v12-latin-ext_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('roboto/mono/roboto-mono-v12-latin-ext_latin-500.woff') format('woff'), /* Modern Browsers */
    url('roboto/mono/roboto-mono-v12-latin-ext_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('roboto/mono/roboto-mono-v12-latin-ext_latin-500.svg#RobotoMono') format('svg'); /* Legacy iOS */
}
/* roboto-mono-600 - latin-ext_latin */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 600;
    src: url('roboto/mono/roboto-mono-v12-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('roboto/mono/roboto-mono-v12-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('roboto/mono/roboto-mono-v12-latin-ext_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('roboto/mono/roboto-mono-v12-latin-ext_latin-600.woff') format('woff'), /* Modern Browsers */
    url('roboto/mono/roboto-mono-v12-latin-ext_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('roboto/mono/roboto-mono-v12-latin-ext_latin-600.svg#RobotoMono') format('svg'); /* Legacy iOS */
}
