@charset "UTF-8";
@import url("fonts/fonts.css");
* {
    outline: none;
    --border-radius: calc( 100vw / 16 );
    --container-mw: 1200px;
}

html {
    color: #000;
    font-size: 15px;
    font-family: 'Tajawal', sans-serif, Arial, Helvetica;
    font-weight: 400;
    line-height: 1.6;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

/**
 * Vertical rhythm by Syncope
 * http://nowodzinski.pl/syncope
 */

h1, h2, h3, h4 {
    font-weight: 700;
    letter-spacing: -1px;
}

h1 {
    font-size: 2em;
    line-height: 1.18em;
    /*padding-top: 0.549em;*/
    margin-bottom: 0.0423em;
}

h2 {
    font-size: 3.36em;
    line-height: 1.34em;
    /*padding-top: 0.787em;*/
    margin-bottom: 0.106em;
}

h3 {
    font-size: 1.7em;
    /*line-height: 1.31em;*/
    line-height: 1.00em;
    /*padding-top: 0.969em;*/
    margin-bottom: .6em;
}

h4 {
    font-size: 1.50em;
    line-height: 1.00em;
    /*padding-top: 1.67em;*/
    margin-bottom: 0.333em;
}

p {
    font-size: 1.00em;
    line-height: 1.50em;
    /*padding-top: 0.429em;*/
    margin-bottom: 1.07em;
}

@media only screen and (min-width: 400px) {
    h1 {
        font-size: var(--border-radius);
    }
}

@media only screen and (min-width: 768px) {
    h3 {
        font-size: 2.29em;
        /*line-height: 1.31em;
        margin-bottom: 0.344em;*/
        margin-bottom: 0.5em;
    }
}



p {
    margin-bottom: 1.5rem;
}


a {
    cursor: pointer;
    transition: all ease-in .25s;
}

a:hover {
    transition: all ease-out .25s;
}

a:hover {
    color: #7E7E7F;
}

button {
    transition: .5s ease background-color;
}

::placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
}


.logo {
    height: 30px;
}

.logo-text {
    line-height: 1.05;
}

.bg-cover {
    min-height: 300px;
    max-height: 350px;
}

.nav-list {
    right: 18px;
}

.nav-toggle {
    cursor: pointer;
    padding: 0;
    margin-right: -4px;
    margin-bottom: .2rem;
}

.nav-list__link {
    font-weight: 400;
    font-size: 120%;
}

@media (min-width: 768px) {
    .nav-list {
        right: auto;
    }

    .logo {
        height: 40px;
    }
}

/**/
.mono {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
}

/**/
.card--bg-icon {
    position: relative;
}

.card--bg-icon::after {
    content: '';
    position: absolute;
    border-bottom-right-radius: var(--border-radius);
    background-image: url(../lib/line-awesome-1.3.0/svg/photo-video-solid.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    opacity: .1;
    background-size: 20%;
    background-position: bottom right;
    pointer-events: none;
}

.card--bg-icon-design::after {
    background-image: url(../lib/line-awesome-1.3.0/svg/photo-video-solid.svg);
}

.card--bg-icon-sound::after {
    background-image: url(../lib/line-awesome-1.3.0/svg/music-solid.svg);
}

.card--bg-icon-programming::after {
    background-image: url(../lib/line-awesome-1.3.0/svg/terminal-solid.svg);
}

/**/
.bg-design, .hover\:bg-design:hover {
    background-color: #CB7F07;
}

.bg-design-300, .hover\:bg-design-300:hover {
    background-color: rgba(203,127,7,.3);
}

.text-design, .hover\:text-design:hover {
    color: #CB7F07;
}

.bg-sound, .hover\:bg-sound:hover {
    background-color: #4a9396;
}

.bg-sound-300, .hover\:bg-sound-300:hover {
    background-color: rgba(41,174,150,.3);
}

.text-sound, .hover\:text-sound:hover {
    color: #4a9396;
}

.bg-programming, .hover\:bg-programming:hover {
    background-color: #5f787b;
}

.bg-programming-300, .hover\:bg-programming-300:hover {
    background-color: rgba(95,120,123,.3);
}

.text-programming, .hover\:text-programming:hover {
    color: #5f787b;
}

/**/
.border-radius {
    border-radius: var(--border-radius);
}

.border-radius--top {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.border-radius--bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.border-radius--sec {
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
}

.border-radius--left {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.border-radius--right {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

@media only screen and (min-width: 768px) {
    .md\:border-radius--top {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .md\:border-radius--bottom {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .md\:border-radius--sec {
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;
    }

    .md\:border-radius--left {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .md\:border-radius--right {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
}


.footer {
    border-top: 1px solid #e1e1e1;
    max-width: var(--container-mw);
}

.back-top {
	display: flex;
	justify-content: center;
	pointer-events: none;
	transition: opacity .25s ease-in;
	opacity: 0;
}

.js-back-top--visible {
	opacity: 1;
	transition: opacity .5s ease-out;
}

.back-top__container {
	position: fixed;
	bottom: .5rem;
}

.back-top__icon {
	text-decoration: none;
	color: #fff;
	opacity: .5;
    padding: .125rem;
	line-height: 1;
	border: 1px solid #fff;
	-webkit-transition: .5s all;
	-o-transition: .5s all;
	transition: .5s all;
	margin-right: 1rem;
}

.back-top__icon:hover {
	text-decoration: none;
	opacity: .8;
	color: #fff;
}

.js-back-top--visible .back-top__icon {
	pointer-events: auto;
}

@media (min-width:768px) {
	.back-top__container {
		bottom: 1rem;
	}
}

@media (min-width:1330px) {
	.back-top__icon {
		margin-right: -3rem;
	}
}



/*Max Width*/

.sm {
    max-width: 640px;
}

.md {
    max-width: 768px;
}

.lg {
    max-width: 1024px;
}

.xl {
    max-width: 1280px;
}


.container {
    max-width: var(--container-mw);
}

/*Box Shadow*/

.theme_dark .shadow-md {
    box-shadow: 0 4px 6px -1px rgba(255, 255, 255, 0.1), 0 2px 4px -1px rgba(255, 255, 255, 0.06);
}

.theme_dark .shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.1), 0 4px 6px -2px rgba(255, 255, 255, 0.05);
}

.theme_dark .shadow-xl {
    box-shadow: 0 20px 25px -5px rgba(255, 255, 255, 0.1), 0 10px 10px -5px rgba(255, 255, 255, 0.04);
}

.theme_dark .shadow-2xl {
    box-shadow: 0 25px 50px -12px rgba(255, 255, 255, 0.25);
}

.theme_dark .shadow-inner {
    box-shadow: inset 0 2px 4px 0 rgba(255, 255, 255, 0.06);
}

.theme_dark .shadow-outline {
    box-shadow: 0 0 0 3px rgba(255, 255, 225, 0.5);
}

.theme_dark {
    color: #fff;
    background-color: #000;
}

.theme_dark .text-white {
    color: #000;
}

.theme_dark .text-black {
    color: #fff;
}

.theme_dark .bg-white {
    background-color: #000;
}

.theme_dark .bg-black {
    color: #000;
    background-color: #fff;
}

.theme_dark [class*="bg-gray"] {
    background-color: #000;
}


/* .theme_dark .header,
.theme_dark .teaser__inner {
    color: #000;
}
*/

.theme_dark .hover\:text-black:hover {
    background-color: #000;
    color: #fff;
}

.theme_dark .border-black {
    border-color: #fff;
}

.theme_dark ::placeholder {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
}

.theme_dark .footer.bg-black,
.theme_dark .team-section .bg-black {
    color: #fff;
    background-color: #000;
}

.theme_dark .swiper-pagination-bullet {
    background: #fff;
}

.theme_dark .swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
}



.h-screen-quater {
    height: 25vh;
}

.h-screen-half {
    height: 50vh;
}

.min-h-screen-quater {
    min-height: 25vh;
}

.min-h-screen-half {
    min-height: 50vh;
}



@media only screen and (min-width: 400px) {
    .bg-gradient::before {
        width: 170%;
    }
}

@media only screen and (min-width: 768px) {
    .md\:min-h-screen-quater {
        height: 25vh;
    }

    .md\:min-h-screen-half {
        height: 50vh;
    }
}

@media only screen and (min-width: 1200px ) {
    * {
        --border-radius: calc( var(--container-mw) / 16 );
    }

    .min-h-screen-half {
        min-height: 80vh;
    }
}
