---
title: Contact
layout: base.njk
permalink: '/contact/'
eleventyComputed:
  description: ''
  socialMediaPhoto: ''
---
{% set cms = '/strapi/public' %}
{% set contact = contact.data.attributes %}
{% set headerImage = contact.headerImage %}
{% include "headerImage.njk" %}
<div class="flex flex-row flex-wrap -ml-12 leading-7">
  {% if contact.headline or contact.title or contact.description %}
  <div class="pl-12 ml:w-1/2 xl:w-1/4">
    {% if contact.headline %}
      <span class="mb-6 md:mb-8 block">{{ contact.headline }}</span>
    {% endif %}
    {% if contact.title %}
      <span class="block font-bold mb-6 md:mb-8 text-xl md:text-3xl xl:text-5xl xl:max-w-lg xl:leading-12">{{ contact.title }}</span>
    {% endif %}
  </div>
  {% endif %}

  {% if contact.description or contact.email or contact.phone or contact.link %}
    <div class="pl-12 ml:w-1/2">
      {% if contact.description %}
        {{ contact.description | safe }}
      {% endif %}

      {% if contact.description or contact.email or contact.phone or contact.link %}
      <div class="md:columns-2 gap-8 mb-10">
        {% if contact.email %}
        <p class="mb-6 md:mb-0">
          <strong>Email<br></strong>
          <a href="mailto:{{ contact.email }}" class="hover:underline hover:decoration-dashed cursor-pointer">{{ contact.email }}</a>
        </p>
        {% endif %}
        {% if contact.phone %}
        <p class="">
          <strong>Phone</strong><br>
          <a href="{{ contact.phone }}" class="hover:underline hover:decoration-dashed cursor-pointer">{{ contact.phone }}</a>
        </p>
        {% endif %}
      </div>
      {% endif %}
      {% if contact.formId %}
      <div class="">
        <a href="#{{ contact.formId }}" rel="modal:open" class="rounded-md shadow-xl md:shadow-2xl hover:text-white hover:bg-gray-300 hover:animate-pulse bg-black hover:bg-neutral-800 inline-block text-white text-center px-4 py-2 md:px-8 md:py-6">Let's Work Together</a>
      </div>
      {% endif %}
    </div>
  {% endif %}

  {% if contact.formId %}
  {% include "contactForm.njk" %}

  {% endif %}

</div>

  <script type="text/javascript">
console.log("Dumping");
console.log({{ Teaser  | dump | safe }})
</script>