---
title: Design
layout: base.njk
permalink: '/design/'
eleventyComputed:
  description: ''
  socialMediaPhoto: ''
---
{% set cms = '/strapi/public' %}
{%- set ces = design.data.attributes.ContentElement -%}

{%- for ce in ces -%}
  {%- if ce.__component == 'media.text-image' -%}
    {%- set Teaser = ce -%}
    {%- include "teaser.njk" -%}
  {%- endif -%}
  {%- if ce.__component == 'media.text-media' -%}
    {%- include "contentElement.njk" -%}
  {%- endif -%}
{%- endfor -%}