---
title: Home
layout: base.njk
eleventyComputed:
  description: ''
  socialMediaPhoto: ''
---
{% set cms = 'strapi/public' %}

{% set Teaser = home.data.attributes.Teaser %}
{% include "teaser.njk" %}

{% if home.data.attributes.Mediaboxes %}
  <section class="py-8 md:py-16">
    {% set Mediaboxes = home.data.attributes.Mediaboxes %}
    {% include "mediaboxes.njk" %}
  </section>
{% endif %}

{% if home.data.attributes.TextTop %}
  {% set TextCentered = home.data.attributes.TextTop %}
  {% include "textCenter.njk" %}
{% endif %}

{#
{% set Mediaboxes = home.data.attributes.LandscapeMediabox %}
{% include "mediaboxesLandscape.njk" %}





{% if home.data.attributes.TextBottom %}
  {% set TextCentered = home.data.attributes.TextBottom %}
  {% include "textCenter.njk" %}
{% endif %}
#}
<span class="font-light"></span>

  <script type="text/javascript">
{#console.log("Dumping");
console.log({{ Teaser  | dump | safe }})#}
</script>