---
title: Programming
layout: base.njk
permalink: '/programming/'
eleventyComputed:
  description: ''
  socialMediaPhoto: ''
---
{% set cms = '/strapi/public' %}
{%- set ces = programming.data.attributes.ContentElement -%}

{%- for ce in ces -%}
  {%- if ce.__component == 'media.text-image' -%}
    {%- set Teaser = ce -%}
    {%- include "teaser.njk" -%}
  {%- endif -%}
  {%- if ce.__component == 'media.text-media' -%}
    {%- include "contentElement.njk" -%}
  {%- endif -%}
{%- endfor -%}


<script type="text/javascript">
  console.log("Dumping");
  console.log({{ ces  | dump | safe }})
</script>