---
title: Sound
layout: base.njk
permalink: '/sound/'
eleventyComputed:
  description: ''
  socialMediaPhoto: ''
---
{% set cms = '/strapi/public' %}
{%- set ces = sound.data.attributes.ContentElement -%}

{%- for ce in ces -%}
  {%- if ce.__component == 'media.text-image' -%}
  {%- set Teaser = ce -%}
    {%- include "teaser.njk" -%}
  {%- endif -%}
  {%- if ce.__component == 'media.text-media' -%}
    {%- include "contentElement.njk" -%}
  {%- endif -%}
{%- endfor -%}