---
title: Work
layout: base.njk
permalink: '/works/'
eleventyComputed:
  description: ''
  socialMediaPhoto: ''
---

{{ work.title }}

{{ work.description }}

{% set cms = '/strapi/public' %}
{%- set projects = works.data -%}

<div class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-3 gap-8 text-center">
  {% for projectItem in projects %}
      {% set project =  projectItem.attributes %}
      {% include 'projectSnippet.njk' %}
  {% endfor %}
</div>


  <script type="text/javascript">
console.log("Dumping");
console.log({{ projects  | dump | safe }})
</script>