---
title: Work
layout: base.njk
pagination:
  data: works.data
  size: 1
  alias: projectItem
permalink: '/works/{{ projectItem.attributes.url }}/'
eleventyComputed:
  title: "{{ projectItem.attributes.title }}"
  intro: "{{ projectItem.attributes.description | striptags(true) | escape | nl2br }}"
  socialMediaPhoto: "{{ projectItem.attributes.listImage.data.attributes.formats.medium.url }}"
  permalink: '/works/{{ projectItem.attributes.url }}/'
---
{% set project = projectItem.attributes %}
{% set cms = '/strapi/public' %}

{% if project.listImage %}
  {% set projectImageAlt = project.listImage.data.attributes.alternativeText %}
  {% set projectImageCap = project.listImage.data.attributes.caption %}
  {% set projectImage = project.listImage.data.attributes.formats %}
    <picture>
        <source media="(min-width:1024px)" srcset="{{ cms }}{{ projectImage.large.url }}">
        <source media="(min-width:768px)" srcset="{{ cms }}{{ projectImage.medium.url }}">
        <img src="{{ cms }}{{ projectImage.small.url }}" class="w-full aspect-video object-cover bg-gray-300 rounded-md md:rounded-xl shadow-md md:shadow-xl" width="{{projectImage.small.width}}" height="{{projectImage.small.height}}" alt="{{ projectImageAlt }}" title="{{projectImageCap}}" loading="lazy">
    </picture>
{% endif %}

{% if project.title or project.subtitle or project.description %}
  <div class="py-6 lg:py-12 lg:mt-16 flex flex-row flex-wrap -ml-12 leading-7">
      {% if project.title or project.subtitle %}
        <div class="pl-12 ml:w-1/2 xl:w-1/4">
          {% if project.subtitle %}
            <span class="mb-6 md:mb-8 block">{{ project.subtitle }}</span>
          {% endif %}
            {% if project.title %}
              <h1 class="block font-bold mb-6 md:mb-8 text-xl md:text-3xl xl:text-5xl xl:max-w-lg xl:leading-12">{{ project.title }}</h1>
            {% endif %}
        </div>
      {% endif %}
      {% if project.description %}
        <div class="pl-12 ml:w-1/2">
            {{ project.description | safe}}
        </div>
      {% endif %}
  </div>
{% endif %}

{% if project.detailImages %}
  <div class="my-10 md:my-20">
    {% for image in project.detailImages.data %}
      {% set projectImageAlt = image.attributes.alternativeText %}
      {% set projectImageCap = image.attributes.caption %}
      {% set projectImage = image.attributes.formats %}
        <picture>
            <source media="(min-width:1024px)" srcset="{{ cms }}{{ projectImage.large.url }}">
            <source media="(min-width:768px)" srcset="{{ cms }}{{ projectImage.medium.url }}">
            <img src="{{ cms }}{{ projectImage.small.url }}" class="w-full aspect-video object-cover bg-gray-300 mb-8 rounded-md" width="{{projectImage.small.width}}" height="{{projectImage.small.height}}" alt="{{ projectImageAlt }}" title="{{projectImageCap}}" loading="lazy">
        </picture>
    {% endfor %}
  </div>
{% endif %}

{% if works.data  %}
  <div class="grid grid-cols-1 md:grid-cols-3 2xl:grid-cols-3 gap-8 text-left mt-16 lg:mt-36">
    <div class="md:col-span-3"><span class="font-bold text-2xl">More projects</span></div>
    {% set cls = cycler("1","2","3","4") %}
    {% set projects = works.data %}
    {% for projectItemm in projects %}
      {% if projectItemm.id !== projectItem.id and cls.next() < 4  %}
      <div>
        {% set project =  projectItemm.attributes %}
        {% include 'projectSnippet.njk' %}
        <a href="/works/{{ project.url }}" title="{{ project.title }}" class="text-lg mt-2 block">{{ project.title }}</a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}

{#<script type="text/javascript">
  console.log("Dumping");
  console.log({{ project  | dump | safe }})
</script>#}